body{
    background-color: black;
    color:white;
}
h1{
    color: purple;
    text-align: center;
}

p{
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: white;
    text-decoration: underline crimson;
}

div{
    height: 300px;
    width: 400px;
    color: white;
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
}
.uno{
    background-image: url('../images/imagen.jpg');
    background-repeat: round;
    /*
    background-size: cover;
    background-position: center;
    */
}

.dos{
    background-color: blue;
}